.collection {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.collection-header-searchbox {
  display: flex;
  padding-left: 0.6em;
  border-bottom: 1px solid fadeout(@black, 90);
  .searchbox {
    flex: 1;
  }
}
.collection-header-more {
  border-left: 1px solid fadeout(@black, 90);
  padding: 0.8em;
  flex: 0 0 3.5em;
  display: flex;
  .fa {
    margin: auto;
    color: fadeout(@black, 60);
  }
}
.collection-header-buttons {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid fadeout(@black, 90);
}
.collection-header-tools,
.collection-header-layout {
  padding: 0.4em;
}
.collection-tools,
.collection-layouts {
  border: 1px solid fadeout(@black, 90);
  display: flex;
  *:first-child {
    border-left: none;
  }
}
.collection-tool,
.collection-layout {
  border-left: 1px solid fadeout(@black, 90);
  background-color: @white;
  line-height: 1.4285em;
  padding: 0.4em 0.6em;
  display: flex;
  color: fadeout(@black, 60);
  cursor: pointer;
  &:hover {
    background-color: fadeout(@black, 95);
    color: @black;
  }
  &.active {
    background-color: @black;
    color: @white;
  }
  .fa {
    margin: auto;
    font-size: 1em;
    line-height: 1.2em;
  }
}
.collection-body {
  flex: 1;
  display: flex;
}
.collection-main {
  background-color: fadeout(@black, 90);
  flex: 1;
  display: flex;
  flex-direction: column;
}
.collection-sidebar {
  flex: 0 0 325px;
  display: flex;
  position: relative;
}
.collection-footer {
  .translatey-transition(100%, 0, .1s);
  background-color: fadeout(@black, 10);
  display: flex;
}
.collection-footer-count {
  padding: 0.6em 0.8em 0.6em 1.2em;
  color: @white;
  text-align: center;
}
.collection-footer-text {
  color: @white;
  padding: 0.8em 0 0.8em 0.8em;
  line-height: 2.4em;
}
.collection-footer-buttons {
  padding: 0.8em 0.4em;
  flex: 1;
}
.collection-panel {
  .translatex-transition(100%, 0, .25s);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: @white;
  display: flex;
  flex-direction: column;
}
.collection-panel-header {
  display: flex;
  cursor: pointer;
  flex: 0 0 3.5em;
}
.collection-panel-header-back,
.collection-panel-header-close {
  cursor: pointer;
  display: flex;
  .fa {
    margin: auto;
    font-size: 1.2em;
  }
  &:hover {
    color: fadeout(@black, 40);
  }
}
.collection-panel-header-back {
  padding: 0.8em 0 0.8em 0.8em;
}
.collection-panel-header-close {
  padding: 0.8em 0.8em 0.8em 0;
}

.collection-panel-header-label {
  padding: 0.8em;
  flex: 1;
  line-height: 1.9em;
}
.collection-panel-body {
  display: flex;
  flex: 1;
}
.collection-panel-content {
  flex: 1;
}
.collection-panel-footer {
  background-color: fadeout(@black, 10);
  padding: 0.8em 0.4em;
}

@media (min-width: 769px) {
  .collection-header {
    display: flex;
  }
  .collection-header-searchbox {
    flex: 1;
    border-right: 1px solid fadeout(@black, 90);
  }
  .collection-header-more {
    display: none;
  }
  .collection-sidebar {
    border-left: 1px solid fadeout(@black, 90);
  }
  .collection-panel-header {
    background-color: fadeout(@black, 95);
    border-bottom: 1px solid fadeout(@black, 90);
  }
}
@media (max-width: 768px) {
  .collection-header-buttons {
    display: none;
    &.show {
      display: flex;
    }
  }
  .collection-overlay {
    border-left: 1px solid fadeout(@black, 90);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: fadeout(@black, 30);
  }
  .collection-sidebar {
    .translatey-transition(100%, 0, .25s);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .collection-panel-header {
    background-color: @black;
    color: @white;
  }
}
