.collection {
  flex: 1;
  display: flex;
  overflow: hidden;
}
.collection-sidebar {
  border-right: 1px solid fadeout(@black, 90);
  flex: 0 0 325px;
  display: flex;
}
.collection-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.collection-header {
  border-bottom: 1px solid fadeout(@black, 90);
  display: flex;
  padding: 0 0 0 0.6em;
}
.collection-header-searchbox {
  flex: 1;
}
.collection-header-tools,
.collection-header-layout {
  padding: 0.4em;
}
.collection-tools,
.collection-layouts {
  border: 1px solid fadeout(@black, 90);
  display: flex;
  *:first-child {
    border-left: none;
  }
}
.collection-tool,
.collection-layout {
  border-left: 1px solid fadeout(@black, 90);
  background-color: @white;
  line-height: 1.4285em;
  padding: 0.4em 0.6em;
  display: flex;
  color: fadeout(@black, 60);
  cursor: pointer;
  &:hover {
    background-color: fadeout(@black, 95);
    color: @black;
  }
  &.active {
    background-color: @black;
    color: @white;
  }
  .fa {
    margin: auto;
    font-size: 1em;
    line-height: 1.2em;
  }
}
.collection-body {
  flex: 1;
  display: flex;
  background-color: fadeout(@black, 90);
}
.collection-footer {
  .translatey-transition(100%, 0, .1s);
  background-color: fadeout(@black, 10);
  display: flex;
}
.collection-footer-count {
  padding: 0.6em 0.8em 0.6em 1.2em;
  color: @white;
  text-align: center;
}
.collection-footer-text {
  color: @white;
  padding: 0.8em 0 0.8em 0.8em;
  line-height: 2.4em;
}
.collection-footer-buttons {
  padding: 0.8em 0.4em;
  flex: 1;
}
