.env
.env.test
.env.production
node_modules
npm-debug.log
.DS_Store
build
!knexfile.example.js
knexfile.js
REVISION
/tmp/*
!/tmp/.gitkeep
src/mobile/platforms/*
!src/mobile/platforms/.gitkeep
src/mobile/plugins/*
!src/mobile/plugins/.gitkeep
repo
