.env
.env.test
.env.production
node_modules
npm-debug.log
.DS_Store
build
!knexfile.example.js
knexfile.js
REVISION
/tmp/*
!/tmp/.gitkeep
src/cordova/platforms/*
!src/cordova/platforms/.gitkeep
src/cordova/plugins/*
!src/cordova/plugins/.gitkeep
repo
