<p>Hello <%= user.first_name %>,</p>

<p>Someone requested password reset instructions for the account connected with this email address.</p>

<p>If you did not request this email, you can ignore it and no changes will be made.</p>

<center>
  <table class="button success float-center large expanded radius">
    <tr>
      <td>
        <table>
          <tr>
            <td><a href="/reset/<%= token %>">Reset Password</a></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</center>
