import PropTypes from 'prop-types'
import React from 'react'

class <%= className %> extends React.PureComponent {

  static contextTypes = {}

  static propTypes = {}

  static defaultProps = {}

  state = {}

  render() {
    return (
      <div className="<%= styleName %>">
      </div>
    )
  }

  componentDidMount() {}

  componentDidUpdate(prevProps, prevState) {}


}

export default <%= className %>
