@red: #DB2828;
@orange: #F2711C;
@yellow: #FBBD08;
@olive: #B5CC18;
@green: #21BA45;
@teal: #00B5AD;
@blue: #2185D0;
@violet: #6435C9;
@purple: #A333C8;
@pink: #E03997;
@brown: #A5673F;
@black: #000000;
@grey: #767676;
@white: #FFFFFF;
@lightgrey: #DDD;
@mediumgrey: #AAA;
@darkgrey: #444444;

body {
	font-size: 13px;
	-webkit-touch-callout: none;
	padding: 0 !important;
}
* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
	min-height: 0;
}
*:not(input, textarea) {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
input, textarea {
	&, &:before, &:after {
		-webkit-user-select: text !important;
		-moz-user-select: text !important;
		-ms-user-select: text !important;
		user-select: text !important;
	}
}
.scrollable() {
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  overflow-y: scroll;
	&::-webkit-scrollbar-track {
	  background: fadeout(@black, 92) !important;
	}
	&::-webkit-scrollbar-thumb {
	  background: fadeout(@black, 80) !important;
	}
	&::-webkit-scrollbar {
	  width: 0 !important;
	  height: 0 !important;
	}
}

main#main {
  display: flex;
  height: 100%;
  width: 100%;
}

.link {
	cursor: pointer;
	color: @blue;
	text-decoration: underline;
}

.opacity-transition(@start, @end, @duration) {
	&.opacity-enter,
	&.opacity-exit {
	  transition: opacity @duration ease-in-out 0s;
		will-change: opacity;
	}
	&.opacity-enter,
	&.opacity-exit.opacity-exit-active {
		opacity: @start;
	}
	&.opacity-exit,
	&.opacity-enter.opacity-enter-active,
	&.opacity-enter-done {
		opacity: @end;
	}
}
.translatex-transition(@start, @end, @duration) {
	&.translatex-enter,
	&.translatex-exit {
	  transition: transform @duration ease-in-out 0s;
		will-change: transform;
	}
	&.translatex-enter,
	&.translatex-exit.translatex-exit-active {
		transform: translateX(@start);
	}
	&.translatex-exit,
	&.translatex-enter.translatex-enter-active {
		transform: translateX(@end);
	}
}
.translatey-transition(@start, @end, @duration) {
	&.translatey-enter,
	&.translatey-exit {
	  transition: transform @duration ease-in-out 0s;
		will-change: transform;
	}
	&.translatey-enter,
	&.translatey-exit.translatey-exit-active {
		transform: translateY(@start);
	}
	&.translatey-exit,
	&.translatey-enter.translatey-enter-active {
		transform: translateY(@end);
	}
}
