.select {
  flex: 1;
  .scrollable();
}
.select-option {
  border-bottom: 1px solid fadeout(@black, 90);
  display: flex;
  cursor: pointer;
  &:hover {
    background-color: fadeout(@black, 97);
  }
}
.select-option-label {
  padding: 0.8em;
  flex: 1;
}
.select-option-icon {
  padding: 0.8em 0.8em 0.8em 0;
  .fa-check {
    color: @green;
  }
}
