.actions {
  position: relative;
  padding: 0.8em;
  cursor: pointer;
  .fa {
    color: fadeout(@black, 60);
  }
}
.actions-dropdown {
  position: absolute;
  top: 100%;
  right: 5px;
  z-index: 99;
  background-color: @white;
  border: 1px solid fadeout(@black, 90);
  box-shadow: 0 3px 8px fadeout(@black, 70);
  min-width: 150px;
  &:after,
  &:before {
  	bottom: 100%;
  	border: solid transparent;
  	content: " ";
  	height: 0;
  	width: 0;
  	position: absolute;
  	pointer-events: none;
  }
  &:after {
    border-bottom-color: @white;
  	border-width: 9px;
  	margin-left: -9px;
    right: 6px;
  }
  &:before {
    border-bottom-color: fadeout(@black, 90);
  	border-width: 10px;
  	margin-left: -10px;
    right: 5px;
  }

  .actions-item:last-child {
    border-bottom: none;
  }
}
.actions-item {
  padding: 0.4em 0.8em;
  cursor: pointer;
  &:hover {
    background-color: fadeout(@black, 95);
  }
}
